*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;      
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 3% 5%;
    align-items: center;
}

.nav-link{
    flex: 1;
    text-align: right;
}
.nav-link ul li{
    padding: 8px 12px;
    display:inline-block;
    position: relative;
}

.nav-link ul li a{
    text-decoration: none;
    color: rgb(251, 247, 231);
    font-size: 20px;
    font-weight:300;
}

.nav-link ul li a::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #EE4266;
    display: block;
    margin: auto;
    cursor: pointer;
    transition: 0.5s;
}

.nav-link ul li a:hover::after{
    width: 100%;
}

header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(31, 6, 0, 0.7),rgba(4,9,30,0.7)), url('Images/WhatsApp Image 2024-03-05 at 09.00.44.jpeg');
    background-size: cover;
    background-position: center;
    position: relative;
}


.col {
    margin-left: 20px; 
}
.col-left {
    flex: 2; 
    margin-top: 15%;
}

.col-right {
    flex: 1; 
}
.name {
    text-align: left;
    font-size: 7rem;
    color: white; 
}

.about {
    font-size: 2.5rem; 
    color: #bbb; 
}

.header_info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    height: 100vh;
}

.blog_cards{
    margin-left: 10%;
    justify-content:end;
}

main {
    padding: 20px;
}

#about {
    min-height: 100vh;
    padding-top: 50px;
}

h2 {
    font-size: 2rem;
    margin-top: 0;
}
